[submodule "lib/utils"]
	path = lib/utils
	url = https://github.com/Gonzalesderkaefer/utils
[submodule "subprojects/utils"]
	path = subprojects/utils
	url = https://github.com/Gonzalesderkaefer/utils
